# 1.DATA ANALYSIS OF ITEM DATASET

In [1]:
import pandas as pd

In [2]:
item_data = pd.read_csv('item_data.csv')

In [3]:
item_data.head()

   item_id  brand   brand_type       category
0        1      1  Established        Grocery
1        2      1  Established  Miscellaneous
2        3     56        Local         Bakery
3        4     56        Local        Grocery
4        5     56        Local        Grocery

In [4]:
item_data.tail()

       item_id  brand   brand_type        category
74061    74062   5490  Established  Pharmaceutical
74062    74063   5497  Established  Pharmaceutical
74063    74064   5497  Established  Pharmaceutical
74064    74065   5520  Established  Pharmaceutical
74065    74066   5194  Established         Grocery

In [5]:
item_data.shape

(74066, 4)

In [6]:
item_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74066 entries, 0 to 74065
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   item_id     74066 non-null  int64
 1   brand       74066 non-null  int64
 2   brand_type  74066 non-null  object
 3   category    74066 non-null  object
dtypes: int64(2), object(2)
memory usage: 2.3+ MB

In [7]:
item_data.nunique()

item_id       74066
brand          5528
brand_type        2
category         19
dtype: int64

In [8]:
item_data.describe()

            item_id         brand
count  74066.000000  74066.000000
mean   37033.500000   1485.560055
std    21381.156856   1537.385673
min        1.000000      1.000000
25%    18517.250000    278.000000
50%    37033.500000    978.000000
75%    55549.750000   2013.000000
max    74066.000000   5528.000000

In [9]:
item_data_columns=list(item_data.columns)
item_data_columns

['item_id', 'brand', 'brand_type', 'category']

In [10]:
item_data_values=item_data.values
item_data_values

array([[1, 1, 'Established', 'Grocery'],
       [2, 1, 'Established', 'Miscellaneous'],
       [3, 56, 'Local', 'Bakery'],
       ...,
       [74064, 5497, 'Established', 'Pharmaceutical'],
       [74065, 5520, 'Established', 'Pharmaceutical'],
       [74066, 5194, 'Established', 'Grocery']], dtype=object)

In [11]:
item_data.brand_type.value_counts()

Established    62842
Local          11224
Name: brand_type, dtype: int64

In [12]:
item_data.category.value_counts()

Grocery                   32448
Pharmaceutical            24471
Natural Products           2533
Dairy, Juices & Snacks     2425
Skin & Hair Care           2244
Meat                       2080
Packaged Meat              1966
Prepared Food              1880
Bakery                     1679
Seafood                     728
Flowers & Plants            664
Miscellaneous               385
Alcohol                     303
Garden                      102
Restauarant                  78
Salads                       40
Travel                       19
Fuel                         14
Vegetables (cut)              7
Name: category, dtype: int64

In [13]:
item_data.brand.value_counts()

56      10480
686      1142
1        1091
4700      923
1262      906
        ...
758         1
4192        1
5306        1
1798        1
3360        1
Name: brand, Length: 5528, dtype: int64

In [14]:
print(item_data.duplicated())

0        False
1        False
2        False
3        False
4        False
         ...
74061    False
74062    False
74063    False
74064    False
74065    False
Length: 74066, dtype: bool

In [15]:
print(item_data.duplicated().sum())

0

In [16]:
item_data.isnull().sum()

item_id       0
brand         0
brand_type    0
category      0
dtype: int64

# 2.DATA ANALYSIS OF TRAIN DATASET

In [17]:
train_data = pd.read_csv('train.csv')

In [18]:
train_data.head()

   id  campaign_id  coupon_id  customer_id  redemption_status
0   1           13         27         1053                  0
1   2           13        116           48                  0
2   6            9        635          205                  0
3   7           13        644         1050                  0
4   9            8       1017         1489                  0

In [19]:
train_data.tail()

           id  campaign_id  coupon_id  customer_id  redemption_status
78364  128587            8         71         1523                  0
78365  128589           30        547          937                  0
78366  128590            8        754         1004                  0
78367  128592           13        134           71                  0
78368  128595           13        681          623                  0

In [20]:
train_data.shape

(78369, 5)

In [21]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78369 entries, 0 to 78368
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 78369 non-null  int64
 1   campaign_id        78369 non-null  int64
 2   coupon_id          78369 non-null  int64
 3   customer_id        78369 non-null  int64
 4   redemption_status  78369 non-null  int64
dtypes: int64(5)
memory usage: 3.0 MB

In [22]:
train_data.nunique()

id                   78369
campaign_id             18
coupon_id              866
customer_id           1428
redemption_status        2
dtype: int64

In [23]:
train_data.describe()

,id,campaign_id,coupon_id,customer_id,redemption_status
count,78369.000000,78369.000000,78369.000000,78369.000000,78369.000000
mean,64347.975449,13.974441,566.363243,787.451888,0.009302
std,37126.440855,8.019215,329.966054,456.811339,0.095999
min,1.000000,1.000000,1.000000,1.000000,0.000000
25%,32260.000000,8.000000,280.000000,399.000000,0.000000
50%,64318.000000,13.000000,597.000000,781.000000,0.000000
75%,96577.000000,13.000000,857.000000,1190.000000,0.000000
max,128595.000000,30.000000,1115.000000,1582.000000,1.000000

In [24]:
train_data_columns=list(train_data.columns)
train_data_columns

['id', 'campaign_id', 'coupon_id', 'customer_id', 'redemption_status']

In [25]:
train_data_values=train_data.values
train_data_values

array([[     1,     13,     27,   1053,      0],
       [     2,     13,    116,     48,      0],
       [     6,      9,    635,    205,      0],
       ...,
       [128590,      8,    754,   1004,      0],
       [128592,     13,    134,     71,      0],
       [128595,     13,    681,    623,      0]], dtype=int64)

In [26]:
train_data.coupon_id.value_counts()

705     570
470     447
691     405
468     366
1043    357
       ...
404      12
398      12
389      12
823      12
1091     12
Name: coupon_id, Length: 866, dtype: int64

In [27]:
print(train_data.duplicated())

0        False
1        False
2        False
3        False
4        False
         ...
78364    False
78365    False
78366    False
78367    False
78368    False
Length: 78369, dtype: bool

In [28]:
print(train_data.duplicated().sum())

0

In [29]:
train_data.isnull().sum()

id                   0
campaign_id          0
coupon_id            0
customer_id          0
redemption_status    0
dtype: int64

# 3.DATA ANALYSIS OF CUSTOMER TRANSACTION DATASET

In [30]:
cust_tran_data = pd.read_csv('customer_transaction_data.csv')

In [31]:
cust_tran_data.head()

,date,customer_id,item_id,quantity,selling_price,other_discount,coupon_discount
0,2012-01-02,1501,26830,1,35.26,-10.69,0.0
1,2012-01-02,1501,54253,1,53.43,-13.89,0.0
2,2012-01-02,1501,31962,1,106.50,-14.25,0.0
3,2012-01-02,1501,33647,1,67.32,0.00,0.0
4,2012-01-02,1501,48199,1,71.24,-28.14,0.0

In [32]:
cust_tran_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1324566 entries, 0 to 1324565
Data columns (total 7 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   date             1324566 non-null  object
 1   customer_id      1324566 non-null  int64
 2   item_id          1324566 non-null  int64
 3   quantity         1324566 non-null  int64
 4   selling_price    1324566 non-null  float64
 5   other_discount   1324566 non-null  float64
 6   coupon_discount  1324566 non-null  float64
dtypes: float64(3), int64(3), object(1)
memory usage: 70.7+ MB

In [33]:
cust_tran_data.shape

(1324566, 7)

In [34]:
cust_tran_data.nunique()

date                 549
customer_id         1582
item_id            74063
quantity            9252
selling_price       4923
other_discount      1418
coupon_discount      232
dtype: int64

In [35]:
 cust_tran_data.describe()

,customer_id,item_id,quantity,selling_price,other_discount,coupon_discount
count,1.324566e+06,1.324566e+06,1.324566e+06,1.324566e+06,1.324566e+06,1.324566e+06
mean,8.040020e+02,2.951903e+04,1.306633e+02,1.146036e+02,-1.776871e+01,-5.948983e-01
std,4.573363e+02,1.790806e+04,1.311545e+03,1.529053e+02,3.788867e+01,7.069367e+00
min,1.000000e+00,1.000000e+00,1.000000e+00,3.600000e-01,-3.120310e+03,-1.992230e+03
25%,4.180000e+02,1.468400e+04,1.000000e+00,4.916000e+01,-2.315000e+01,0.000000e+00
50%,8.010000e+02,2.659700e+04,1.000000e+00,7.801000e+01,-1.780000e+00,0.000000e+00
75%,1.198000e+03,4.240575e+04,1.000000e+00,1.243100e+02,0.000000e+00,0.000000e+00
max,1.582000e+03,7.406600e+04,8.963800e+04,1.780964e+04,0.000000e+00,0.000000e+00

In [36]:
cust_tran_columns=list(train_data.columns)
cust_tran_columns

['id', 'campaign_id', 'coupon_id', 'customer_id', 'redemption_status']

In [37]:
cust_tran_values=train_data.values
cust_tran_values

array([[     1,     13,     27,   1053,      0],
       [     2,     13,    116,     48,      0],
       [     6,      9,    635,    205,      0],
       ...,
       [128590,      8,    754,   1004,      0],
       [128592,     13,    134,     71,      0],
       [128595,     13,    681,    623,      0]], dtype=int64)

In [38]:
cust_tran_data.customer_id.value_counts()

1555    4522
711     4173
464     4134
1475    3945
1011    3862
        ...
1150      87
406       83
1180      83
907       80
1326      79
Name: customer_id, Length: 1582, dtype: int64

In [39]:
cust_tran_data.item_id.value_counts()

49009    13540
34047     6308
13174     3879
45502     3292
29847     2276
         ...
438          1
1394         1
403          1
62918        1
2971         1
Name: item_id, Length: 74063, dtype: int64

In [40]:
print(cust_tran_data.duplicated())

0          False
1          False
2          False
3          False
4          False
           ...
1324561    False
1324562    False
1324563    False
1324564    False
1324565    False
Length: 1324566, dtype: bool

In [41]:
print(cust_tran_data.duplicated().sum())

2916

In [42]:
cust_tran_data.isnull().sum()

date               0
customer_id        0
item_id            0
quantity           0
selling_price      0
other_discount     0
coupon_discount    0
dtype: int64

# 4.DATA ANALYSIS OF COUPAN DATA DATASET

In [43]:
cmp_data = pd.read_csv('campaign_data.csv')

In [44]:
cmp_data.head()

   campaign_id campaign_type start_date  end_date
0           24             Y   21/10/13  20/12/13
1           25             Y   21/10/13  22/11/13
2           20             Y   07/09/13  16/11/13
3           23             Y   08/10/13  15/11/13
4           21             Y   16/09/13  18/10/13

In [45]:
cmp_data.shape

(28, 4)

In [46]:
cmp_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   campaign_id    28 non-null     int64
 1   campaign_type  28 non-null     object
 2   start_date     28 non-null     object
 3   end_date       28 non-null     object
dtypes: int64(1), object(3)
memory usage: 1.0+ KB

In [47]:
cmp_data.nunique()

campaign_id      28
campaign_type     2
start_date       25
end_date         26
dtype: int64

In [48]:
cmp_data.describe()

       campaign_id
count    28.000000
mean     15.571429
std       9.118271
min       1.000000
25%       7.750000
50%      16.500000
75%      23.250000
max      30.000000

In [49]:
cmp_data_columns=list(cmp_data.columns)
cmp_data_columns

['campaign_id', 'campaign_type', 'start_date', 'end_date']

In [50]:
cmp_data_values=cmp_data.values
cmp_data_values

array([[24, 'Y', '21/10/13', '20/12/13'],
       [25, 'Y', '21/10/13', '22/11/13'],
       [20, 'Y', '07/09/13', '16/11/13'],
       [23, 'Y', '08/10/13', '15/11/13'],
       [21, 'Y', '16/09/13', '18/10/13'],
       [22, 'X', '16/09/13', '18/10/13'],
       [18, 'X', '10/08/13', '04/10/13'],
       [19, 'Y', '26/08/13', '27/09/13'],
       [17, 'Y', '29/07/13', '30/08/13'],
       [16, 'Y', '15/07/13', '16/08/13'],
       [13, 'X', '19/05/13', '05/07/13'],
       [11, 'Y', '22/04/13', '07/06/13'],
       [12, 'Y', '22/04/13', '24/05/13'],
       [10, 'Y', '08/04/13', '10/05/13'],
       [9, 'Y', '11/03/13', '12/04/13'],
       [8, 'X', '16/02/13', '05/04/13'],
       [7, 'Y', '02/02/13', '08/03/13'],
       [6, 'Y', '28/01/13', '01/03/13'],
       [3, 'Y', '22/12/12', '16/02/13'],
       [5, 'Y', '12/01/13', '15/02/13'],
       [4, 'Y', '07/01/13', '08/02/13'],
       [1, 'Y', '12/12/12', '18/01/13'],
       [2, 'Y', '17/12/12', '18/01/13'],
       [30, 'X', '19/11/12', '04/01/13'],
       [29, 'Y', '08/10/12', '30/11/12'],
       [28, 'Y', '16/09/12', '16/11/12'],
       [27, 'Y', '25/08/12', '27/10/12'],
       [26, 'X', '12/08/12', '21/09/12']], dtype=object)

In [51]:
cmp_data.campaign_id.value_counts()

24    1
25    1
27    1
28    1
29    1
30    1
2     1
1     1
4     1
5     1
3     1
6     1
7     1
8     1
9     1
10    1
12    1
11    1
13    1
16    1
17    1
19    1
18    1
22    1
21    1
23    1
20    1
26    1
Name: campaign_id, dtype: int64

In [52]:
cmp_data.campaign_type.value_counts()

Y    22
X     6
Name: campaign_type, dtype: int64

In [53]:
print(cmp_data.duplicated())

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
dtype: bool

In [54]:
cmp_data.isnull().sum()

campaign_id      0
campaign_type    0
start_date       0
end_date         0
dtype: int64

# 5.DATA ANALYSIS OF COUPON ITEM MAPPING DATASET

In [55]:
cupn_itm_map = pd.read_csv("coupon_item_mapping.csv")

In [56]:
cupn_itm_map.head()

   coupon_id  item_id
0        105       37
1        107       75
2        494       76
3        522       77
4        518       77

In [57]:
cupn_itm_map.shape

(92663, 2)

In [58]:
cupn_itm_map.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92663 entries, 0 to 92662
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   coupon_id  92663 non-null  int64
 1   item_id    92663 non-null  int64
dtypes: int64(2)
memory usage: 1.4 MB

In [59]:
cupn_itm_map.nunique()

coupon_id     1116
item_id      36289
dtype: int64

In [60]:
cupn_itm_map.describe()

          coupon_id       item_id
count  92663.000000  92663.000000
mean     155.967387  36508.613071
std      282.991720  21131.312716
min        1.000000      1.000000
25%       22.000000  18255.500000
50%       30.000000  37955.000000
75%       42.000000  54191.500000
max     1116.000000  74061.000000

In [61]:
cupn_itm_map_columns=list(cupn_itm_map.columns)  
cupn_itm_map_columns

['coupon_id', 'item_id']

In [62]:
cupn_itm_map_values=cupn_itm_map.values    
cupn_itm_map_values

array([[  105,    37],
       [  107,    75],
       [  494,    76],
       ...,
       [   32, 68612],
       [   33, 71390],
       [   31, 70030]], dtype=int64)

In [63]:
cupn_itm_map.coupon_id.value_counts()

32      11814
23      11813
22       4947
31       4873
33       4394
        ...
1057        1
54          1
470         1
48          1
784         1
Name: coupon_id, Length: 1116, dtype: int64

In [64]:
cupn_itm_map.item_id.value_counts()

56523    11
26458    10
52650    10
22290    10
30410    10
         ..
42867     1
42839     1
42830     1
42826     1
68920     1
Name: item_id, Length: 36289, dtype: int64

In [65]:
print(cupn_itm_map.duplicated())

0        False
1        False
2        False
3        False
4        False
         ...
92658    False
92659    False
92660    False
92661    False
92662    False
Length: 92663, dtype: bool

In [66]:
print(cupn_itm_map.duplicated().sum())

0

In [67]:
cupn_itm_map.isnull().sum()

coupon_id    0
item_id      0
dtype: int64

# 6. DATA ANALYSIS OF CUSTOMER DEMOGRAPHICS DATASET

In [68]:
cust_demo = pd.read_csv("customer_demographics.csv")

In [69]:
cust_demo.head()

,customer_id,age_range,marital_status,rented,family_size,no_of_children,income_bracket
0,1,70+,Married,0,2,NaN,4
1,6,46-55,Married,0,2,NaN,5
2,7,26-35,NaN,0,3,1,3
3,8,26-35,NaN,0,4,2,6
4,10,46-55,Single,0,1,NaN,5

In [70]:
cust_demo.shape

(760, 7)

In [71]:
cust_demo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 760 entries, 0 to 759
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   customer_id     760 non-null    int64
 1   age_range       760 non-null    object
 2   marital_status  431 non-null    object
 3   rented          760 non-null    int64
 4   family_size     760 non-null    object
 5   no_of_children  222 non-null    object
 6   income_bracket  760 non-null    int64
dtypes: int64(3), object(4)
memory usage: 41.7+ KB

In [72]:
cust_demo.describe()

       customer_id      rented  income_bracket
count   760.000000  760.000000      760.000000
mean    779.201316    0.053947        4.715789
std     459.754429    0.226063        2.258817
min       1.000000    0.000000        1.000000
25%     382.750000    0.000000        3.000000
50%     774.500000    0.000000        5.000000
75%    1187.250000    0.000000        6.000000
max    1581.000000    1.000000       12.000000

In [73]:
cust_demo.nunique()

customer_id       760
age_range           6
marital_status      2
rented              2
family_size         5
no_of_children      3
income_bracket     12
dtype: int64

In [74]:
cust_demo_columns=list(train_data.columns)
cust_demo_columns

['id', 'campaign_id', 'coupon_id', 'customer_id', 'redemption_status']

In [75]:
cust_demo_values=list(train_data.values)
cust_demo_values

[array([   1,   13,   27, 1053,    0], dtype=int64),
 array([  2,  13, 116,  48,   0], dtype=int64),
 array([  6,   9, 635, 205,   0], dtype=int64),
 array([   7,   13,  644, 1050,    0], dtype=int64),
 array([   9,    8, 1017, 1489,    0], dtype=int64),
 array([ 11,  11, 795, 793,   0], dtype=int64),
 array([ 14,   9, 444, 590,   0], dtype=int64),
 array([ 15,  29, 538, 368,   0], dtype=int64),
 array([ 17,  30, 857, 523,   0], dtype=int64),
 array([ 19,   2, 559, 679,   0], dtype=int64),
 array([ 20,   9, 575, 108,   0], dtype=int64),
 array([  21,   13, 1028,   89,    0], dtype=int64),
 array([ 22,   9, 705, 712,   0], dtype=int64),
 array([  23,   13,  517, 1067,    0], dtype=int64),
 array([ 24,   5, 893, 761,   0], dtype=int64),
 array([ 25,  13, 796, 248,   0], dtype=int64),
 array([  26,   11,  506, 1464,    0], dtype=int64),
 array([ 27,   5, 689, 186,   0], dtype=int64),
 array([  28,   13,  268, 1152,    0], dtype=int64),
 array([ 29,   8,   8, 695,   0], dtype=int64),
 array([ 30,   8, 674, 886,   0], dtype=int64),
 array([  32,   30,  320, 1255,    0], dtype=int64),
 array([ 33,  12, 109, 553,   0], dtype=int64),
 array([  34,    8,  278, 1398,    0], dtype=int64),
 array([  35,   13, 1031, 1031,    0], dtype=int64),
 array([ 39,  26, 326,  63,   0], dtype=int64),
 array([ 42,  30, 363,  88,   0], dtype=int64),
 array([ 43,   8, 911, 197,   0], dtype=int64),
 array([  45,    8,  383, 1095,    0], dtype=int64),
 array([  46,   13,  482, 1096,    0], dtype=int64),
 array([ 48,  26, 813, 919,   0], dtype=int64),
 array([ 51,  13, 118, 917,   0], dtype=int64),
 array([ 52,   5, 663, 828,   0], dtype=int64),
 array([ 54,  30, 332, 958,   0], dtype=int64),
 array([ 55,  30, 500,  91,   0], dtype=int64),
 array([  56,    8,  757, 1447,    0], dtype=int64),
 array([  58,   30, 1067,  124,    0], dtype=int64),
 array([ 61,   8,  87, 661,   0], dtype=int64),
 array([ 62,  26, 905, 648,   0], dtype=int64),
 array([  63,   13, 1114, 1381,    0], dtype=int64),
 array([ 65,  13, 152, 680,   0], dtype=int64),
 array([66,  8, 57, 72,  0], dtype=int64),
 array([ 69,   8, 383, 883,   0], dtype=int64),
 array([  71,    8,  271, 1366,    0], dtype=int64),
 array([ 72,  13, 413, 276,   1], dtype=int64),
 array([ 74,  26, 582, 578,   0], dtype=int64),
 array([ 75,  30, 333, 895,   0], dtype=int64),
 array([ 77,  13, 485, 861,   0], dtype=int64),
 array([  79,   30,  256, 1383,    0], dtype=int64),
 array([  80,   11,  980, 1351,    0], dtype=int64),
 array([  82,   29,  538, 1162,    0], dtype=int64),
 array([ 83,   8, 700,  19,   0], dtype=int64),
 array([ 84,   2, 628, 384,   0], dtype=int64),
 array([ 85,  13, 136, 200,   0], dtype=int64),
 array([ 86,  29, 750, 113,   0], dtype=int64),
 array([  88,   26,  854, 1210,    0], dtype=int64),
 array([ 90,   8, 761, 341,   0], dtype=int64),
 array([  91,    8,  383, 1475,    0], dtype=int64),
 array([ 92,   3, 828, 998,   0], dtype=int64),
 array([  93,   13,  881, 1418,    0], dtype=int64),
 array([  95,   13,  129, 1444,    0], dtype=int64),
 array([ 97,  26, 867, 321,   0], dtype=int64),
 array([ 99,   8, 709, 372,   0], dtype=int64),
 array([101,  13, 169, 888,   0], dtype=int64),
 array([102,   8,   8, 659,   0], dtype=int64),
 array([ 103,   30, 1083,  340,    0], dtype=int64),
 array([104,  13, 530, 657,   0], dtype=int64),
 array([106,   3, 822, 998,   0], dtype=int64),
 array([107,  13, 126, 590,   0], dtype=int64),
 array([ 110,    8,  700, 1044,    0], dtype=int64),
 array([113,  26, 917, 435,   0], dtype=int64),
 array([115,  12, 109, 416,   0], dtype=int64),
 array([117,  13,  22, 741,   0], dtype=int64),
 array([118,  13, 960, 572,   0], dtype=int64),
 array([ 121,   13,   24, 1214,    0], dtype=int64),
 array([122,   8, 772, 166,   0], dtype=int64),
 array([ 123,   13,  603, 1152,    0], dtype=int64),
 array([124,  29, 982, 278,   0], dtype=int64),
 array([125,  13, 510, 379,   0], dtype=int64),
 array([ 129,   13,  982, 1005,    0], dtype=int64),
 array([ 130,   13,  132, 1241,    0], dtype=int64),
 array([ 131,    8,   60, 1202,    0], dtype=int64),
 array([ 134,   12, 1063, 1025,    0], dtype=int64),
 array([135,  13, 166, 814,   0], dtype=int64),
 array([136,  13, 679, 619,   0], dtype=int64),
 array([137,   3, 839, 998,   0], dtype=int64),
 array([139,   4, 459,  15,   0], dtype=int64),
 array([141,   8, 658, 638,   0], dtype=int64),
 array([ 142,   10,  106, 1582,    0], dtype=int64),
 array([144,  13, 168, 310,   0], dtype=int64),
 array([146,   8, 473,   8,   0], dtype=int64),
 array([151,   8, 627,  95,   0], dtype=int64),
 array([152,  13, 145, 932,   0], dtype=int64),
 array([ 154,    8,    7, 1195,    0], dtype=int64),
 array([ 155,   12,  109, 1232,    0], dtype=int64),
 array([ 156,   13,  667, 1096,    0], dtype=int64),
 array([ 158,   30,  924, 1383,    0], dtype=int64),
 array([159,  29, 621, 569,   0], dtype=int64),
 array([160,   8, 761, 640,   0], dtype=int64),
 array([ 161,   13,  467, 1003,    0], dtype=int64),
 array([ 164,   29,  985, 1029,    0], dtype=int64),
 array([165,  13, 171, 644,   0], dtype=int64),
 array([ 167,   13, 1056,  526,    0], dtype=int64),
 array([169,  13, 890, 745,   0], dtype=int64),
 array([ 170,   13,  920, 1136,    0], dtype=int64),
 array([ 171,    5,  279, 1491,    0], dtype=int64),
 array([ 172,   30,  948, 1534,    0], dtype=int64),
 array([176,   8, 383,  80,   0], dtype=int64),
 array([ 179,   26,  368, 1174,    0], dtype=int64),
 array([180,  12, 107, 879,   0], dtype=int64),
 array([181,   9,  19, 608,   0], dtype=int64),
 array([182,   9,  19, 755,   0], dtype=int64),
 array([ 183,   29,  800, 1099,    0], dtype=int64),
 array([ 184,   13,  420, 1118,    0], dtype=int64),
 array([186,  13, 756, 582,   0], dtype=int64),
 array([187,  12, 783, 686,   0], dtype=int64),
 array([188,   7, 687, 441,   0], dtype=int64),
 array([192,  11, 913, 666,   0], dtype=int64),
 array([ 193,    8,  725, 1233,    0], dtype=int64),
 array([194,  13, 483, 434,   0], dtype=int64),
 array([ 195,    8,  674, 1369,    0], dtype=int64),
 array([ 196,   13,  275, 1303,    0], dtype=int64),
 array([197,   9, 788, 155,   0], dtype=int64),
 array([198,  13, 170, 736,   0], dtype=int64),
 array([ 200,    8,   14, 1410,    0], dtype=int64),
 array([ 202,   13, 1083,  607,    0], dtype=int64),
 array([205,  29, 416, 874,   0], dtype=int64),
 array([206,   5, 689,  44,   0], dtype=int64),
 array([ 207,    8,   54, 1201,    0], dtype=int64),
 array([ 208,   13,  113, 1306,    0], dtype=int64),
 array([209,  13, 125, 900,   0], dtype=int64),
 array([213,   8, 902,  28,   0], dtype=int64),
 array([214,  12, 526,  42,   0], dtype=int64),
 array([215,  13, 144, 538,   0], dtype=int64),
 array([217,  11, 506, 106,   0], dtype=int64),
 array([ 218,    8,  554, 1082,    0], dtype=int64),
 array([219,  26, 936, 212,   0], dtype=int64),
 array([ 220,   11,  971, 1324,    0], dtype=int64),
 array([221,  30, 872, 871,   0], dtype=int64),
 array([222,  29, 873, 501,   0], dtype=int64),
 array([ 224,   29,  643, 1229,    0], dtype=int64),
 array([225,   8, 433, 343,   0], dtype=int64),
 array([228,  29, 538, 634,   0], dtype=int64),
 array([230,  13, 131, 754,   0], dtype=int64),
 array([231,   4, 591,  41,   0], dtype=int64),
 array([233,  13, 608, 206,   0], dtype=int64),
 array([238,  29, 800, 131,   0], dtype=int64),
 array([ 239,    8,  723, 1145,    0], dtype=int64),
 array([240,   8,  76, 612,   0], dtype=int64),
 array([ 241,   13,  152, 1351,    0], dtype=int64),
 array([242,  29, 696, 992,   0], dtype=int64),
 array([ 243,    8,  544, 1307,    0], dtype=int64),
 array([247,  13, 148, 936,   0], dtype=int64),
 array([250,   8,  97, 389,   0], dtype=int64),
 array([254,   7, 687, 532,   0], dtype=int64),
 array([ 255,   12,  819, 1026,    0], dtype=int64),
 array([259,  13, 673, 403,   0], dtype=int64),
 array([260,  13, 123, 718,   0], dtype=int64),
 array([261,   8, 490,  38,   0], dtype=int64),
 array([ 262,    8,   55, 1246,    0], dtype=int64),
 array([264,   9, 989, 569,   0], dtype=int64),
 array([265,   8,  83, 176,   0], dtype=int64),
 array([ 266,    8,  437, 1449,    0], dtype=int64),
 array([267,   3, 836, 725,   0], dtype=int64),
 array([269,   8, 806, 866,   0], dtype=int64),
 array([ 270,   13,  891, 1173,    0], dtype=int64),
 array([273,   9, 870, 384,   0], dtype=int64),
 array([275,  13, 132, 835,   0], dtype=int64),
 array([277,  13, 542, 923,   0], dtype=int64),
 array([279,   8,  64, 125,   0], dtype=int64),
 array([ 282,   13, 1114,  694,    0], dtype=int64),
 array([ 283,   30,  646, 1192,    0], dtype=int64),
 array([ 284,   30,  566, 1462,    0], dtype=int64),
 array([ 286,   11,  913, 1058,    0], dtype=int64),
 array([ 287,    9,  520, 1339,    0], dtype=int64),
 array([290,  11, 910, 430,   0], dtype=int64),
 array([ 291,   11,  913, 1489,    0], dtype=int64),
 array([ 292,   13,  467, 1192,    0], dtype=int64),
 array([293,   8, 581, 191,   0], dtype=int64),
 array([ 295,    8,  537, 1031,    0], dtype=int64),
 array([ 298,    8,  656, 1236,    0], dtype=int64),
 array([299,  13, 960, 467,   1], dtype=int64),
 array([301,  10, 996, 726,   0], dtype=int64),
 array([ 304,   11, 1012, 1199,    0], dtype=int64),
 array([305,   8, 759, 932,   0], dtype=int64),
 array([ 306,   11, 1044, 1332,    0], dtype=int64),
 array([307,   8, 616, 402,   0], dtype=int64),
 array([ 308,    8,  883, 1446,    0], dtype=int64),
 array([ 309,    8,  658, 1292,    0], dtype=int64),
 array([313,  13, 754,  93,   0], dtype=int64),
 array([316,   8, 430, 835,   0], dtype=int64),
 array([317,  13, 796, 474,   0], dtype=int64),
 array([318,  13, 786, 450,   0], dtype=int64),
 array([ 320,    8,  694, 1158,    0], dtype=int64),
 array([321,  13, 119,  38,   0], dtype=int64),
 array([ 322,    8,  481, 1089,    0], dtype=int64),
 array([ 325,   13,  940, 1183,    0], dtype=int64),
 array([326,   8, 916, 355,   0], dtype=int64),
 array([ 328,   30,  348, 1357,    0], dtype=int64),
 array([ 329,   26,  855, 1426,    0], dtype=int64),
 array([330,   8, 554, 273,   0], dtype=int64),
 array([ 331,   11, 1012,  776,    0], dtype=int64),
 array([332,   8, 792, 727,   0], dtype=int64),
 array([335,  10, 968, 737,   0], dtype=int64),
 array([336,  13, 625, 136,   0], dtype=int64),
 array([337,   9, 105, 553,   0], dtype=int64),
 array([ 342,   26,  470, 1074,    0], dtype=int64),
 array([ 343,    8,  283, 1373,    0], dtype=int64),
 array([345,   8, 554, 293,   0], dtype=int64),
 array([346,  13, 161, 626,   0], dtype=int64),
 array([347,   8,   6, 654,   0], dtype=int64),
 array([ 351,   12,  466, 1387,    0], dtype=int64),
 array([ 352,   30, 1036, 1061,    0], dtype=int64),
 array([ 353,    5,  663, 1346,    0], dtype=int64),
 array([ 355,   30,  742, 1348,    0], dtype=int64),
 array([356,   8, 598, 324,   0], dtype=int64),
 array([ 357,   13, 1112,  130,    0], dtype=int64),
 array([359,  26, 797, 214,   1], dtype=int64),
 array([360,   8, 744, 306,   0], dtype=int64),
 array([361,  13, 480, 686,   0], dtype=int64),
 array([362,   8,  63, 691,   0], dtype=int64),
 array([363,  13, 556, 639,   0], dtype=int64),
 array([ 365,   13,  909, 1528,    0], dtype=int64),
 array([366,  13, 734, 800,   0], dtype=int64),
 array([ 367,    8, 1085,  392,    0], dtype=int64),
 array([ 368,    7, 1050, 1208,    0], dtype=int64),
 array([369,  13, 113, 684,   0], dtype=int64),
 array([ 370,   13,   27, 1168,    0], dtype=int64),
 array([ 371,   13,  153, 1315,    0], dtype=int64),
 array([372,  13, 949, 441,   0], dtype=int64),
 array([ 374,   26, 1057, 1046,    0], dtype=int64),
 array([ 378,    8, 1018,  189,    0], dtype=int64),
 array([ 380,    8,  257, 1006,    0], dtype=int64),
 array([383,  26, 327, 523,   0], dtype=int64),
 array([ 384,   10,  279, 1285,    0], dtype=int64),
 array([385,   8, 754,  40,   0], dtype=int64),
 array([386,   7, 641, 607,   0], dtype=int64),
 array([ 387,   13,  754, 1103,    1], dtype=int64),
 array([389,  13, 694, 108,   0], dtype=int64),
 array([391,  11, 980, 106,   0], dtype=int64),
 array([ 392,   13, 1029,  954,    0], dtype=int64),
 array([393,  13, 617, 395,   0], dtype=int64),
 array([395,  13, 111, 498,   0], dtype=int64),
 array([397,  13, 152, 888,   0], dtype=int64),
 array([398,   9, 468, 814,   0], dtype=int64),
 array([400,  29, 868, 117,   0], dtype=int64),
 array([401,   8,  68, 779,   0], dtype=int64),
 array([403,   8,  81, 640,   0], dtype=int64),
 array([ 404,    8, 1045, 1479,    0], dtype=int64),
 array([406,   9, 520, 316,   0], dtype=int64),
 array([407,  30, 531, 531,   0], dtype=int64),
 array([ 410,   29,  538, 1212,    0], dtype=int64),
 array([ 411,   13, 1065,  437,    0], dtype=int64),
 array([ 412,   12,  783, 1026,    0], dtype=int64),
 array([413,  13, 434, 297,   0], dtype=int64),
 array([417,  13, 949, 973,   0], dtype=int64),
 array([418,  13, 888, 691,   0], dtype=int64),
 array([ 419,   29,  265, 1429,    0], dtype=int64),
 array([420,  29, 418, 876,   0], dtype=int64),
 array([ 421,   10,  279, 1372,    0], dtype=int64),
 array([ 423,   29, 1040,  278,    0], dtype=int64),
 array([424,   8, 432, 590,   0], dtype=int64),
 array([425,  26, 769, 790,   0], dtype=int64),
 array([ 428,   26,  912, 1238,    0], dtype=int64),
 array([430,   8,  11, 764,   0], dtype=int64),
 array([435,   8,  46, 473,   0], dtype=int64),
 array([438,  10, 106, 566,   0], dtype=int64),
 array([ 440,   13,  723, 1267,    0], dtype=int64),
 array([441,   8,  97, 344,   0], dtype=int64),
 array([ 445,    9,  468, 1202,    0], dtype=int64),
 array([ 446,   13, 1031,  105,    0], dtype=int64),
 array([447,   8,  88,  56,   0], dtype=int64),
 array([ 449,    8,   54, 1195,    0], dtype=int64),
 array([ 450,    8,  682, 1357,    0], dtype=int64),
 array([ 452,    8,  761, 1368,    0], dtype=int64),
 array([454,   8, 733, 594,   0], dtype=int64),
 array([455,   8, 807, 776,   0], dtype=int64),
 array([ 456,   11,  571, 1359,    0], dtype=int64),
 array([ 457,   13,  951, 1334,    0], dtype=int64),
 array([461,  13, 511,  89,   0], dtype=int64),
 array([ 463,    8, 1058, 1471,    0], dtype=int64),
 array([ 465,    8,  598, 1201,    0], dtype=int64),
 array([ 468,    8,  792, 1234,    0], dtype=int64),
 array([469,  30, 324, 566,   0], dtype=int64),
 array([ 470,   26,  492, 1044,    0], dtype=int64),
 array([472,  11, 759, 420,   0], dtype=int64),
 array([ 473,   26,  529, 1464,    0], dtype=int64),
 array([474,  13, 601, 866,   0], dtype=int64),
 array([475,  13, 262, 561,   0], dtype=int64),
 array([ 478,   26,  925, 1146,    0], dtype=int64),
 array([479,   8, 293, 820,   0], dtype=int64),
 array([ 483,   13,  844, 1563,    0], dtype=int64),
 array([ 484,    8,  889, 1039,    0], dtype=int64),
 array([485,  13, 726, 956,   0], dtype=int64),
 array([486,  13, 281, 136,   0], dtype=int64),
 array([487,   5, 663, 795,   0], dtype=int64),
 array([488,  28, 492, 401,   0], dtype=int64),
 array([ 491,   13,   21, 1419,    0], dtype=int64),
 array([492,   4,  16, 808,   0], dtype=int64),
 array([494,  13, 780, 448,   0], dtype=int64),
 array([ 495,   12, 1075,  167,    0], dtype=int64),
 array([496,  26, 746, 477,   0], dtype=int64),
 array([ 497,    8,  793, 1085,    0], dtype=int64),
 array([499,  12, 107, 268,   0], dtype=int64),
 array([ 502,    9,   19, 1520,    0], dtype=int64),
 array([ 503,   30, 1015, 1497,    0], dtype=int64),
 array([504,  27, 724, 195,   0], dtype=int64),
 array([505,   5, 279, 301,   0], dtype=int64),
 array([ 506,   13, 1025,  819,    0], dtype=int64),
 array([507,   8, 672, 797,   0], dtype=int64),
 array([ 508,    4,  860, 1549,    0], dtype=int64),
 array([ 515,   13,  473, 1200,    0], dtype=int64),
 array([516,   8, 616,  39,   0], dtype=int64),
 array([517,   5, 955,  88,   0], dtype=int64),
 array([518,  13, 155, 445,   0], dtype=int64),
 array([ 519,   29,  896, 1445,    0], dtype=int64),
 array([521,  10, 280, 302,   0], dtype=int64),
 array([523,   8,  56, 944,   0], dtype=int64),
 array([525,  13,  22, 413,   0], dtype=int64),
 array([526,   8, 983, 689,   0], dtype=int64),
 array([ 528,   13,  135, 1389,    0], dtype=int64),
 array([529,   8, 532, 704,   0], dtype=int64),
 array([530,  26, 466, 969,   0], dtype=int64),
 array([531,   8, 725, 852,   0], dtype=int64),
 array([532,   8, 810, 815,   0], dtype=int64),
 array([ 533,   13,  139, 1216,    0], dtype=int64),
 array([534,   8,  56, 768,   0], dtype=int64),
 array([ 535,    8,   99, 1538,    0], dtype=int64),
 array([536,  30, 563, 153,   0], dtype=int64),
 array([ 538,    8,  285, 1474,    0], dtype=int64),
 array([539,  26, 301, 152,   0], dtype=int64),
 array([ 541,   13,  135, 1246,    0], dtype=int64),
 array([543,   8,  87, 839,   0], dtype=int64),
 array([ 545,    8,  919, 1039,    0], dtype=int64),
 array([546,  13, 508, 279,   0], dtype=int64),
 array([548,   8,  49, 433,   0], dtype=int64),
 array([549,   8, 674,  30,   0], dtype=int64),
 array([ 554,   13,   27, 1061,    0], dtype=int64),
 array([555,   8,  75,  43,   0], dtype=int64),
 array([ 557,   13,  167, 1481,    0], dtype=int64),
 array([ 558,   29,  265, 1212,    0], dtype=int64),
 array([ 560,   30,  683, 1256,    0], dtype=int64),
 array([561,   8,  87, 854,   0], dtype=int64),
 array([563,  26, 620, 958,   0], dtype=int64),
 array([564,  13, 284, 279,   0], dtype=int64),
 array([566,  12, 466, 569,   0], dtype=int64),
 array([567,  13, 504, 852,   0], dtype=int64),
 array([569,   9, 635, 569,   0], dtype=int64),
 array([570,   8, 817, 124,   0], dtype=int64),
 array([ 571,    7,  986, 1084,    0], dtype=int64),
 array([572,  26, 367, 766,   0], dtype=int64),
 array([575,   8, 481, 651,   0], dtype=int64),
 array([ 576,    8,  247, 1340,    0], dtype=int64),
 array([577,  13,  24,  53,   0], dtype=int64),
 array([579,   8, 532, 860,   0], dtype=int64),
 array([ 584,    5, 1043,  301,    0], dtype=int64),
 array([ 589,    8,  885, 1489,    0], dtype=int64),
 array([590,  30, 294, 953,   0], dtype=int64),
 array([591,   8, 296, 792,   0], dtype=int64),
 array([ 592,   10,  106, 1419,    0], dtype=int64),
 array([594,  13, 773, 996,   0], dtype=int64),
 array([596,   8,  66, 516,   0], dtype=int64),
 array([598,   8,  81, 243,   0], dtype=int64),
 array([599,  13,  26,  71,   0], dtype=int64),
 array([601,  26, 514, 387,   0], dtype=int64),
 array([ 603,    8,  989, 1411,    0], dtype=int64),
 array([607,  13, 465,   7,   0], dtype=int64),
 array([609,  13, 865, 862,   0], dtype=int64),
 array([612,   8, 737, 883,   0], dtype=int64),
 array([613,  13, 454, 179,   0], dtype=int64),
 array([ 615,   13,  919, 1210,    0], dtype=int64),
 array([617,  12, 779, 439,   0], dtype=int64),
 array([618,  13, 586, 872,   0], dtype=int64),
 array([ 620,   13,  672, 1358,    0], dtype=int64),
 array([ 621,   30,  980, 1554,    0], dtype=int64),
 array([623,  13, 954, 734,   0], dtype=int64),
 array([626,  12, 492, 537,   0], dtype=int64),
 array([628,   4,  16, 957,   0], dtype=int64),
 array([634,  13, 162, 866,   0], dtype=int64),
 array([ 635,    5, 1043,   42,    0], dtype=int64),
 array([ 638,   30,  303, 1458,    0], dtype=int64),
 array([ 639,   13,  504, 1441,    0], dtype=int64),
 array([640,  10, 824, 226,   0], dtype=int64),
 array([641,  30, 261, 633,   0], dtype=int64),
 array([642,  26, 305, 294,   0], dtype=int64),
 array([ 643,    8,  740, 1044,    0], dtype=int64),
 array([644,  13, 129, 973,   0], dtype=int64),
 array([646,   8, 433, 478,   0], dtype=int64),
 array([647,   5, 663, 829,   0], dtype=int64),
 array([ 648,   30,  260, 1044,    0], dtype=int64),
 array([ 649,    8,  907, 1321,    0], dtype=int64),
 array([ 650,    8, 1017,  496,    0], dtype=int64),
 array([651,   8, 256, 522,   0], dtype=int64),
 array([654,  13, 249, 499,   0], dtype=int64),
 array([656,  29, 896, 460,   0], dtype=int64),
 array([657,  30, 909, 586,   0], dtype=int64),
 array([659,  30, 945, 419,   0], dtype=int64),
 array([660,   8, 882, 446,   0], dtype=int64),
 array([661,   8, 902, 754,   0], dtype=int64),
 array([662,  13, 386, 567,   0], dtype=int64),

In [76]:
cust_demo.customer_id.value_counts()

1       1
1056    1
1033    1
1036    1
1045    1
       ..
514     1
515     1
516     1
517     1
1581    1
Name: customer_id, Length: 760, dtype: int64

In [77]:
cust_demo.rented.value_counts()

0    719
1     41
Name: rented, dtype: int64

In [78]:
cust_demo.income_bracket.value_counts()

5     187
4     165
6      88
3      70
2      68
1      59
8      37
7      32
9      29
12     10
10     10
11      5
Name: income_bracket, dtype: int64

In [79]:
print(cust_demo.duplicated())

0      False
1      False
2      False
3      False
4      False
       ...
755    False
756    False
757    False
758    False
759    False
Length: 760, dtype: bool

In [80]:
print(cust_demo.duplicated().sum())

0

In [81]:
cust_demo.isnull().sum()

customer_id         0
age_range           0
marital_status    329
rented              0
family_size         0
no_of_children    538
income_bracket      0
dtype: int64